@import "tailwindcss";

@theme {
  --color-background: #f8fafc;
  --color-surface: #ffffff;

  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;

  --color-primary: #2563eb;
  --color-secondary: #14b8a6;
}